<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
	<ui:composition template="template.xhtml">
		<ui:define name="title">Welcome to use our car recommendation service!</ui:define>
		<ui:define name="top">Let us give u some choices</ui:define>
		<ui:define name="content">
			<h1>We will find the suitable car for u:-)</h1>
Pls tell us your budget:-)
<br />
			<h:outputLabel value="#{applicationInfo.slogan}" />
			<h:form>
			<h:outputLabel value="#{applicationInfo.budget}" /> <br/>
			<p:inputText value="#{country.price}" /> <br/>
			<h:outputLabel value="#{applicationInfo.range}" /> <br/>
				<p:inputText value="#{country.range}" /> <br/>
				<h:outputLabel value="#{applicationInfo.country}" /> <br/>
				<p:inputText value="#{country.name}" /> <br/>
				
				<h:commandButton value="Choose" action="#{searchMake.execute}"/>

			</h:form>

			<h:link value="contact US" outcome="contactUs"></h:link>
		</ui:define>
	</ui:composition>
</h:body>

</html>