<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
	<ui:composition template="template.xhtml">
		<ui:define name="title">Welcome to use our car recommendation service!</ui:define>
		<ui:define name="top">car find</ui:define>
		<ui:define name="content">
		Acknowledge:
		We use kbb to get data.
</ui:define>
	</ui:composition>
</h:body>

</html>