<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html 
 lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:p="http://primefaces.org/ui"
>
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Car Recommendation for u</title>
</h:head>

<h:body>
<h1> This is the cars suitable to u:-)</h1>

<br/>
<h2> Car Make u choose is 
	<h:outputLabel value="#{country.name}"/> <h:outputLabel value="#{country.price}"/> 
	<h:outputLabel value="#{country.range}"/> 
</h2>
<em>US cars:</em>
	<p:dataTable var="dt" value="#{searchMake.cars}"
	paginatorAlwaysVisible="false" >
    <p:column headerText="Make">
        <h:outputText value="#{dt.make}" />
    </p:column>
 
    <p:column headerText="Model">
        <h:outputText value="#{dt.model}" />
    </p:column>
 
    <p:column headerText="Price">
        <h:outputText value="#{dt.price}" />
    </p:column>
 
    <p:column headerText="URL">
        <h:outputText value="#{dt.url}" />
    </p:column>
</p:dataTable>
<h:link value="contact US" outcome="contactUs" />
</h:body>

</html>