<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<h:outputStylesheet name="default.css" library="css" />
	<link rel="stylesheet" href="css/default.css" type="text/css" />
	<h:outputStylesheet name="csslayout.css" library="css" />
	<link rel="stylesheet" href="css/styles.css" type="text/css" />
	<title><ui:insert name="title">
		</ui:insert></title>
</h:head>

<h:body>



	<div id="top" class="top">
		<ui:insert name="top">
		  Top section
		</ui:insert>
		
	</div>

	<div>

		<div id="left" class="left">
			<ui:insert name="left">
	 	  Left
	   	</ui:insert>
		</div>

		<div id="content" class="content">
			<ui:insert name="content">
	 	  Content
	   	</ui:insert>
		</div>

		<div id="footer" class="footer">
			<ui:insert name="footer">
				<p:outputLabel value="CopyRight 2016 weihaoqu.com" />

				<br />
				<h:link outcome="privacy" value="privacy policy" />
			</ui:insert>
		</div>

	</div>

</h:body>
</html>