@CHARSET "UTF-8";

#top{
	position:fixed;
	vertical-align: top;
	background-color: #13654a;
	height:3em;
	width:100%;
	z-index:100;
	left:0;
	top:0;
	
}

	#left{
	position:fixed;
	left:4px;
	top:3em;
	width:145px;
	background-color: #d6bd91;
	padding-left:1.5em;
	}
	
	#content{
		top: 3em;
		position:relative;
		margin-left: 165px;
		padding:5px;
		
	}
	#footer{
	position:absolute;
		margin-left: 165px;
		padding:5px;
		bottom:0;
	}